/* Resetando algumas configurações padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #2c3e50;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#controls {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

canvas {
    display: block;
    margin: 20px auto;
    border: 2px solid #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#controls button {
    margin-top: 10px;
    padding: 12px;
    font-size: 18px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }

    canvas {
        width: 100%;
        height: auto;
    }
}
