.drawing-window {
	border: 2px solid #6a0dad; /* Bordas roxas para combinar */
	margin: 20px auto; /* Centraliza na tela */
	width: 800px;
	height: 600px;
	background-color: #f9f9f9; /* Fundo claro para destacar o desenho */
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra elegante */
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: rgb(219, 255, 255);
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 10px;
}

canvas {
	border: 2px solid rgb(0, 0, 0);
	/* background-color: white;  */
}

/* Controles */
#controls {
	width: 65%;
	text-align: center;
	
}
#controls button {
	background-color: #6a0dad; /* Roxo vibrante */
	color: white;
	border: none;
	border-radius: 8px;
	padding: 12px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease,  transform 0.2s ease;
	margin: 10px 10px;
}

#controls button:hover {
	background-color: #4b007a; /* Roxo mais escuro no hover */
	transform: scale(1.05);
}

#controls #inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	margin-top: 10px;
	font-size: 20px;
	font-family: "Arial", sans-serif;
}

/* Estilo do Título */
h1 {
	text-align: center;
	font-family: "Arial", sans-serif;
	color: #333;
}

/* Ícone de Adição */
.plus-symbol {
	width: 100px;
	height: 60px;
	background-color: #6a6a6a;
	font-size: 50px;
	font-weight: bold;
	color: #6a0dad; /* Roxo para consistência */
	cursor: pointer;
	text-align: center;
	margin: auto;
	border-radius: 200px;
	display: block;
	transition: transform 0.3s ease, color 0.3s ease;
}
.plus-symbol:hover {
	transform: scale(1.2); /* Pequeno zoom ao passar o mouse */
	color: #4b007a; /* Roxo mais escuro no hover */
}
