<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="/css/stylePerfil.css">
</head>
<body>
    <div id="todo">
        <h1>Meu perfil:</h1>
        <img src="/asserts/imagens/foto" alt="foto" >
        <div class="dados">
            <h4>Nome: Seu nome</h4>
            <h4>Email: Seu email</h4>
            <h4>Senha: Sua senha</h4>
        </div>
            <form><p>Editar Nome:</p><input type="text" required><button>Mudar Nome</button></form>
            <form><p>Editar Email:</p><input type="email" required><button>Mudar Email</button></form>
            <form><p>Editar Senha:</p><input type="password" required><button>Mudar Senha</button></form>
        <a href="../index.html"><button id="apagar">Apagar conta </button></a>
    </div>
</body>
</html>