<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensagem</title>
    <link rel="stylesheet" href="/css/stylesCadastro.css">
</head>
<body>
    <div class="corpo">
        <br><br><br><br><br><br><br>
        <h1>Parabéns! Você efetuou seu cadastro.</h1>
        <h2>Seja bem-vindo e aproveite para escolher:</h2>
        <h4>
            <a href="/pages/Login.html">Voltar para o Login </a> ou 
            <a href="/pages/Home.html"> Voltar para a página inicial</a>.
        </h4>
    </div>
</body>
</html>
