<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Tela Inicial</title>
		<link rel="stylesheet" href="/css/styleProjeto.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.5.0/fabric.min.js"></script>
	</head>
	<body>
		<div id="comeco">
			<h1>Bem-Vindo Usuário!</h1>
			<br />
			<h2>My Projects:</h2>
			<div class="projetos">
				<div id="addProjeto">
					<a id="plus_a"><button id="plus">+</button></a>
					<h4>New Project</h4>
				</div>
                <div id="grid-container">

                </div>
			</div>

			<a href="/perfil"><button id="pessoa">Meu Perfil 👤</button></a>
		</div>

        

		<script src="/js/projetos.js"></script>
	</body>
</html>
