<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three.js Example</title>
    <!-- Import Map para mapear os módulos -->
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.skypack.dev/three@0.132.2",
          "three/examples/jsm/": "https://cdn.skypack.dev/three@0.132.2/examples/jsm/"
        }
      }
    </script>
  </head>
  <body>
    <script type="module" src="/js/teste.js"></script>
  </body>
</html>
