body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#comeco{
    background-color: #9bd6fe;
    width: 1200px;
    height: auto;
    margin: auto;
    border: 3px solid #8573D3;
    position: relative;
    box-sizing: border-box;
}
#plus{
    width: 150px;
    height: 150px;
    font-weight: bolder;
    color: #8573D3;
    font-size: 80px;
    margin-left: 60px;
    margin-top: 30px;
    cursor: pointer;
}
h4{
    margin-left: 90px;
}
#pessoa{
    background-color: white;
    width: 200px;
    font-weight: bolder;
    font-size: x-large;
    border-radius: 5px;
    position: absolute;
    bottom: 1px;
    right: 50px;
    cursor: pointer;
}